# Dependencies
node_modules/
package-lock.json
yarn.lock

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
.next/
out/

# IDE
.vscode/
.idea/
*.swp

# Logs
npm-debug.log*
*.log
